<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
    
    <typeAliases>
        <typeAlias alias="memberDto" type="com.ssafy.projectboot.dto.MemberDto"/>
        <typeAlias alias="shopDto" type="com.ssafy.projectboot.dto.ShopDto"/>
        <typeAlias alias="pollutionDto" type="com.ssafy.projectboot.dto.PollutionDto"/>
        <typeAlias alias="noticeDto" type="com.ssafy.projectboot.dto.NoticeDto"/>
        <typeAlias alias="sidocodeDto" type="com.ssafy.projectboot.dto.SiDoCodeDto"/>
        <typeAlias alias="guguncodeDto" type="com.ssafy.projectboot.dto.GuGunCodeDto"/>
        <typeAlias alias="houseinfoDto" type="com.ssafy.projectboot.dto.HouseInfoDto"/>
        <typeAlias alias="housedealDto" type="com.ssafy.projectboot.dto.HouseDealDto"/>
   		<typeAlias alias="locationDto" type="com.ssafy.projectboot.dto.LocationDto"/>
   		<typeAlias alias="favoriteDto" type="com.ssafy.projectboot.dto.FavoriteDto"/>
   		<typeAlias alias="greenDto" type="com.ssafy.projectboot.dto.GreenDto"/>
   		<typeAlias alias="housedealinfo" type="com.ssafy.projectboot.dto.HouseDealinfo"/>
   		<typeAlias alias="subwayDto" type="com.ssafy.projectboot.dto.SubwayDto"/>
   		<typeAlias alias="zzimDto" type="com.ssafy.projectboot.dto.ZzimDto"/>
   		<typeAlias alias="saleimgDto" type="com.ssafy.projectboot.dto.SaleImgDto"/>
    </typeAliases>
    
    <mappers>
    	<mapper resource="mappers/houseinfo.xml"/>
    	<mapper resource="mappers/favorite.xml"/>
		<mapper resource="mappers/member.xml" />
		<mapper resource="mappers/shop.xml" />
		<mapper resource="mappers/pollution.xml" />
		<mapper resource="mappers/notice.xml" />
		<mapper resource="mappers/selectbox.xml"/>
		<mapper resource="mappers/green.xml"/>
		<mapper resource="mappers/housedeal.xml"/>
		<mapper resource="mappers/subway.xml"/>
		<mapper resource="mappers/saleimg.xml"/>
	</mappers>
    
</configuration>