<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta HTTP-EQUIV="refresh" CONTENT="2">
    <title>SMART IOT MOTOR MONITORING</title>

    <style>
            #title{
                width:100%;
                margin:auto;
                font-weight:bold;
                text-align: center;
                padding-top:100px;
                font-size:60px;
            
            }
            #title p{
                font-size:40px;

            }
        </style>
    
</head>

<body>

    <div id="title">
        <p>진동,전압,물체온도,주변온도,온도차</p>
            
                    <% var i = rows.length;%>
                    <%=rows[i-1].con %>
                
            
                
    </div>

</body>
</html>