[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/anaconda3/envs/TEST/bin/uwsgi -i /home/ubuntu/project/backend/project/project/.config/uwsgi/project.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target